<div>
    <!-- <img src="/assets/images/athens.jpg" /> -->

   <!--<img src = {{picture}} alt="Athens" width="700" height="400"/> -->

   <!--
    <img [src] = "picture" alt="Athens" width="700" height="400"/>

    <br/>
    <br/>
    <p>   

        <input [(ngModel)]="user" >
        {{user}}
    </p>
   
    <p> </p>

    <input (keyup)="onKey($event)">
  -->
    <p> Here are the (two) type of forms:</p>

    <app-template-form>
    </app-template-form>

  <br/>

  <br/>
    <app-reactive-form>
    </app-reactive-form>
    <!--
    <div class="form-group">
        <input type="text" [(ngModel)]="product.no" class="form-control" >
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="product.name" class="form-control" >
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="product.price" class="form-control">
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="createProduct()">Create Product</button>
      </div>
    
    -->

    <h2> A material slider example</h2>
    <p>
      <mat-slider #slider min="5" max="1000" step="5" value="500" (change)="updateSetting($event)"> </mat-slider>
          {{slider.value}}
    </p>
    <h2> A a material form example</h2>
    <form>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Legacy form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Standard form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </form>


  </div>
