<h1 mat-dialog-title>Measuerments</h1>
<button (click)="UpdateToDataLogger()">test</button>
<div mat-dialog-content>
  <table>
    <tr>
        <th>Tree No</th>
        <th>BarCode</th>
        <th>MeasuermentID</th>
        <th>Humidity</th>
        <th>Temperature</th>
        <th>IsSoilWet</th>
        <th>DateOFMes</th>
      </tr>
      <tr *ngFor="let mes of messes; index as i">
        <td>
          <p>{{mes.Treeno}}</p>
        </td>
        <td>
          <p>{{mes.Barcode}}</p>
        </td>
        <td><p>{{mes.MeasuermentID}}</p></td>
        <td><p>{{mes.Humidity}}</p></td>
        <td><p>{{mes.Temperature}}</p></td>
        <td><p>{{mes.IsSoilWet}}</p></td>
        <td><p>{{mes.DateOfMes}}</p></td>
      </tr>
  </table>
</div>