<div class="container">
    <h1>Product Form (template driven) </h1>
    <form #productForm="ngForm">
        <div class="form-group">
           <label for="name">Product Name</label>
           <input type="text" class="form-control" id="name" required minlength="2" pattern="^([A-Z])[a-z]*" [(ngModel)]="model.name" name="name" #name="ngModel">  
           <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                The Product name is not valid
           </div>
        </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
