<div class="container">
  <h1>Measure device (reactive driven) </h1>
  <form [formGroup]="form">
      <div class="form-group">
          <div class="col-sm-12">
            <label for="name" class="control-label">Barcode</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      
        <div class="form-group">
          <div class="col-sm-12">
            <label for="price" class="control-label">Raspberry version</label>
            <input type="price" id="price" class="form-control" formControlName="price">
          </div>
        </div>
        
      
  
  <button type="submit" class="btn btn-primary" (click) = 'CreateDevice()' >Submit</button>
</form>
</div>