<h2>Items on auction:</h2>
<table>
    <tr>
        <th>No</th>
        <th>Tree type</th>
        <th>Minimum Humidity</th>
        <th>Maximum Humidity</th>
        <th>Minimum Temperature</th>       
        <th>Maximum Temperature</th>
        <th>User ID</th>
        <th>Barcode</th>
    </tr>
        <tr *ngFor="let tree of trees; index as i">
            <td> <input [(ngModel)]="tree.No" readonly = true> </td> 
            <td> <input [(ngModel)]="tree.TreeType"> </td>
            <td> <input [(ngModel)]="tree.HumidityMin"> </td>
            <td> <input [(ngModel)]="tree.HumidityMax"> </td>
            <td> <input [(ngModel)]="tree.TempMin"> </td>
            <td> <input [(ngModel)]="tree.TempMax"> </td>
            <td> <input [(ngModel)]="tree.UserId"> </td>
            <td>
              <div ngbDropdown class="dropdown">
                <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false">
              {{tree.BarCode}}
              </button>
                <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1" >
                  <div *ngFor="let dataLogger of dLUnpaired; index as j">
                    <li><a ngbDropdownItem (click)="onClick(this.dataLogger, i)">{{dataLogger.BarCode}}</a></li>
                  </div>
                </ul>
              </div>
            </td>
            <td> <button type="button" class="btn btn-secondary"  (click) = 'save(i)'>Save</button> </td>
            <td> <button type="button" class="btn btn-danger"  (click) = 'delete(i)'>Remove</button> </td>
        </tr>  
    <tr>
        <td><input type="text" [(ngModel)]="defaultTree.TreeType" ></td>
        <td><input type="text" [(ngModel)]="defaultTree.HumidityMin"></td>
        <td><input type="text" [(ngModel)]="defaultTree.HumidityMax"></td>
        <td><input type="text" [(ngModel)]="defaultTree.TempMin"></td>
        <td><input type="text" [(ngModel)]="defaultTree.TempMax"></td>
        <td><input type="text" [(ngModel)]="defaultTree.UserId"></td>
        <td><input type="text" [(ngModel)]="defaultTree.BarCode"></td>
        <td> <button type="button" class="btn btn-primary" (click) ='create()' >Create this Product</button> </td>
    </tr>
</table>



